html {
    height: 100%;
}

body {
	font: 16px/1.5 Verdana, Arial;
	margin: 0 auto;
	padding-bottom: 100px;
	min-height: 100%;
	color: #333;
	background-color: #fff;
	position: relative;
}

h1, h2 {
    margin: 35px 0;
}

h1, h1 a {
    color: #337ab7;
}

h2, h2 a {
    color: #007e5f;
}

h3, h3 a {
    color: #007658;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
	padding: 14px;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

.paginator {
    margin: 50px 14px;
    text-align: center;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
    padding: 14px;
	text-align: center;
}

.comments {
    color: #75726c;
}

.mar-vert-14 { margin-top: 14px; margin-bottom: 14px; }
.mar-vert-25 { margin-top: 25px; margin-bottom: 25px; }
.mar-vert-35 { margin-top: 35px; margin-bottom: 35px; }
.mar-vert-50 { margin-top: 50px; margin-bottom: 50px; }

.min-width-200 { min-width: 200px; }
